  body {
    background-image: url(image.png);  /* Mengatur gambar latar belakang untuk seluruh halaman */
  }

  .container {
    background-color: #00000094;  /* Warna latar semi-transparan hitam */
    padding: 30px;  /* Jarak internal di dalam container */
    border-radius: 10px;  /* Sudut melengkung (radius 10px) */
    margin-top: 50px;  /* Jarak di atas container */
  }

  h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;  /* Jenis font untuk heading */
    color: #3ee70b;      /* Warna hijau neon */
    text-align: center;  /* Posisi teks di tengah */
    margin-bottom: 30px;  /* Jarak di bawah heading */
  }

  .table {
    background-color: #fff;  /* Latar belakang putih untuk tabel */
    color: #000;  /* Warna teks hitam */
    border-radius: 5px;  /* Sudut melengkung untuk tabel */
    overflow: hidden;  /* Memastikan konten tidak meluber dari border radius */
  }

  .table th {
    background-color:  #007bff;  /* Warna latar biru untuk header tabel */
    color: #000000;  /* Warna teks hitam untuk header */
    text-align: center;  /* Posisi teks header di tengah */
  }

  .table td {
    vertical-align: middle;  /* Posisi vertikal konten sel di tengah */
  }
